{
    "userinfo": {
        "user": "15736009714@163.com",
        "pass": "lovely19930321",
        "host": "smtp.163.com",
        "port": "465"
    },
    "mailinfo": {
        "title": "邮件标题 xxx工资条",
        "pre": "xxx公司 第9月份工资条",
        "suf": "如有疑问，请联系xxx"
    },
    "xlsinfo": {
        "xls": "2019年8月工资汇总表（核对）.xlsx",
        "sheetid": "1"
    }
}